# Fontforge backup files
*.sfd-*
*.sfdir.new

# TeX intermediary build files
*.aux
*.log
*.synctex.gz

# Interpolated font directories
interpolations/*.sfdir
interpolations/log.txt
interpolations/*.otf